@{
    ViewData["Title"] = "About Us";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>More Information: </strong> <a href="rdata.site">Ricardo Pereira</a>
</address>
